* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
div {
	max-width: 1000px;
	margin: 0 auto;
}
ul {
	list-style: none;
}
li {
	width: 96%;
	position: relative;
	margin: 2%;
}
img, article {
	width: 100%;
	display: block;
	transition: 4s linear;
}
span {
	text-align: center;
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	font-size: 3em;
	font-weight: bold;
	opacity: 0.2;
}
li:hover span {
	opacity: 1;
	color: orange;
	font-family: Arial;
}
li:nth-child(1):hover img {
	filter: blur(10px);
}
li:nth-child(2):hover img {
	filter: brightness(300%);
}
li:nth-child(3):hover img {
	filter: contrast(300%);
}
li:nth-child(4):hover img {
	filter: grayscale(100%);
}
li:nth-child(5):hover img {
	filter: hue-rotate(300deg);
}
li:nth-child(6):hover img {
	filter: saturate(500%);
}
li:nth-child(7):hover img {
	filter: sepia(100%) hue-rotate(150deg) contrast(300%);
}
li:nth-child(8):hover img {
	filter: invert(100%);
}
li:nth-child(9):hover img {
	filter: opacity(20%);
}
li:nth-child(10):hover article {
	filter: drop-shadow(-4px -4px 5px red);
	font-size: 3em;
}